doctype html
html
  head
    title My Website
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/static/css/styles.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style='font-size: larger; height: 90px;')
      div.d-flex.align-items-center
        a.navbar-brand(href='/api/template/home', style='padding-left: 20px;')
          img(src='/static/image/ccc5356effa75abb28f52b9e45a7d37e.jpg', width='30', height='30', alt='')
          | Holidays
        div.collapse.navbar-collapse#navbarNavDropdown
          ul.navbar-nav(style='padding-left: 520px;')
            li.nav-item
              a.nav-link(href='/api/template/home') Home
            li.nav-item
              a.nav-link(href='/api/template/login') Login
            li.nav-item
              a.nav-link(href='/api/template/signup') Signup
            li.nav-item
              a.nav-link(href='/api/template/concert') Music concert
            li.nav-item
              a.nav-link(href='/api/template/tour') Tourism
            li.nav-item
              a.nav-link(href='/api/template/contact') Contact
    div.container
      h2.text-center Contact us
      div.suggestion-box
        h3 Have a suggestion?
        textarea(placeholder='Enter your suggestion here')
        button.btn.btn-primary(type='submit') Submit
  footer
    div.box-container
      div.box
        h3 Contact
        p Email: keetz@gmail.com
        p Phone: 123-456-7890
      div.box
        h3 About
        p We have a best music consert and tour plans
      div.box
        h3 Location
        p 123 Main Street, Dubai Main road, Dubai
    br
    p(style='color: aliceblue;') &copy; 2023 Keetz holidays. All rights reserved.
