doctype html
html
  head
    title My Website
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    link(rel='stylesheet', href='styles.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style='font-size: larger; height: 90px;')
      div.d-flex.align-items-center
        a.navbar-brand(href='home.html', style='padding-left: 20px;')
          img(src='ccc5356effa75abb28f52b9e45a7d37e.jpg', width='30', height='30', alt='')
          | Holidays
        div.collapse.navbar-collapse#navbarNavDropdown
          ul.navbar-nav(style='padding-left: 520px;')
            li.nav-item
              a.nav-link(href='home.html') Home
            li.nav-item
              a.nav-link(href='demo.html') Login
            li.nav-item
              a.nav-link(href='/') Signup
            li.nav-item
              a.nav-link(href='concert.html') Music concert
            li.nav-item
              a.nav-link(href='tour.html') Tourism
            li.nav-item
              a.nav-link(href='contact.html') Contact
    .ht(style='background: url(a8cab40488c754dc54f28d25a7e7c68b.jpg); padding: 0px; width: 100%; height: auto;')
      .container
        h2.text-center Sign Up
        form#signup(method='POST')
          .row.mb-3
            label.form-label(for='name') Name:<span.required>*</span>
            input.form-control(type='text', id='name', name='name', required pattern='[A-Za-z\s]+', placeholder='Enter your name', minlength='2')
            span#nameError(style='color: red; display: none;') Name should be greater than 2 letters.
          .row.mb-3
            label.form-label(for='email') Email:<span.required>*</span>
            input.form-control(type='email', id='email', name='email', required pattern='/^[a-zA-Z0-9.!#$%&\'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/', maxlength='50', placeholder='Enter Email')
            span#emailError(style='color: red; display: none;') Email not valid
          .row.mb-3
            label.form-label(for='gender') Gender:
            div.form-check
              input.form-check-input(type='radio', name='gender', value='Male', id='RadioDefault1', checked)
              label.form-check-label(for='RadioDefault1') Male
            div.form-check
              input.form-check-input(type='radio', name='gender', value='Female', id='RadioDefault2')
              label.form-check-label(for='RadioDefault2') Female
          .row.mb-3
            label.form-label(for='password') Password:<span.required>*</span>
            input.form-control(type='password', id='password', name='password', placeholder='Choose strong password', required pattern='((?=.*[0-9\@\&#\$\?\%!\|(){}[]])(?=.*[a-zA-Z]).{8,})', minlength='8', maxlength='20')
          .row.mb-3
            label.form-label(for='confirm-password') Confirm Password:<span.required>*</span>
            input.form-control(type='password', id='confirmPassword', name='confirm-password', placeholder='Re-enter password', minlength='8', maxlength='20')
          // ... Other form fields
          .row.mb-3
            label.form-label(for='country') Country:
            select.form-select(id='country', name='country', onchange='states(); updateCountryCode();')
              option(value='') Select Country
              option(value='USA') USA
              option(value='IND') India
              option(value='UK') UK
          .row.mb-3
            label.form-label(for='state') State:
            select.form-select(id='state', name='state')
              option(value='') Select State
          .row.mb-3
            label.form-label(for='countryCode') Mobile number:
            div.col-3
              select.form-control(id='countryCode', name='countryCode')
                option(value='') Code
            div.col
              input.form-control(type='text', id='phoneNumber', name='phoneNumber', placeholder='Phone Number')
          .row.mb-3
            label.form-label(for='flexCheckDefault') Interested area:
            div.form-check
              input.form-check-input(type='checkbox', id='flexCheckDefault', value='Music concert')
              label.form-check-label(for='flexCheckDefault') Music concert
            div.form-check
              input.form-check-input(type='checkbox', id='flexCheckChecked', value='Explore Nature')
              label.form-check-label(for='flexCheckChecked') Explore Nature
          .row.mb-3
            button.btn.btn-dark(type='submit', onclick='fieldFill()') Sign Up
    script(src='./script.js')
    script.
      $(document).ready(function () {
        $("#signup").submit(function (event) {
          event.preventDefault();
          const formData = {
            name: $("#name").val(),
            email: $("#email").val(),
            gender: $("input[name='gender']:checked").val(),
            password: $("#password").val(),
            "confirm-password": $("#confirmPassword").val(),
            country: $("#country").val(),
            state: $("#state").val(),
            countryCode: $("#countryCode").val(),
            phoneNumber: $("#phoneNumber").val()
          };

          $.ajax({
            url: "http://localhost:3001/api/signup",
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function (response) {
              alert("Form data submitted");
              $("#signup")[0].reset();
              window.location.href = "login";
            },
            error: function (xhr, status, error) {
              console.error("Error", error);
            },
          });
        });
      });
      var stateSl=document.getElementById("state");
      function states(){
          var countrySelect = document.getElementById('country');
          var sc = countrySelect.value;
          stateSl.innerHTML = '<option value="">Select State</option>';
        if (sc == 'USA') {
          UsStates();
        } 
        else if(sc == 'IND'){
          IndStates();
        }
        else if(sc == 'UK'){
          UkStates();
        }
      }
      function UsStates() {
        var usStates = ['Alaska', 'Arizona','Delaware', 'Florida', 'Georgia'];
        for (var i = 0; i<usStates.length; i++) {
          var option = document.createElement('option');
          option.value = usStates[i];
          option.textContent = usStates[i];
          stateSl.append(option);
        }
      }
      function IndStates() {
        var indStates = ['Assam', 'Jammu','Jharkhand', 'Kerala', 'Tamilnadu'];
        for (var i = 0; i<indStates.length; i++) {
          var option = document.createElement('option');
          option.value = indStates[i];
          option.textContent = indStates[i];
          stateSl.append(option);
        }
      }
      function UkStates() {
        var ukStates = ['Ireland', 'England','Wales', 'Scotland'];
        for (var i = 0; i<ukStates.length; i++) {
          var option = document.createElement('option');
          option.value = ukStates[i];
          option.textContent = ukStates[i];
          stateSl.append(option);
        }
      }

      const countryCodes = {
        USA: "+1",
        IND: "+91",
        UK: "+44"
      };

      function updateCountryCode() {
        const countryDropdown = document.getElementById("country");
        const countryCodeDropdown = document.getElementById("countryCode");
        const country = countryDropdown.value;
        countryCodeDropdown.innerHTML = "";
        if (country) {
          const countryCode = countryCodes[country];
          if (countryCode) {
            const option = document.createElement("option");
            option.value = countryCode;
            option.textContent = countryCode;
            countryCodeDropdown.append(option);
          }
        }
      }

    footer
      .box-container
        .box
          h3 Contact
          p Email: keetz@gmail.com
          p Phone: 123-456-7890
        .box
          h3 About
          p We have a best music concert and tour plans
        .box
          h3 Location
          p 123 Main Street, Dubai Main road, Dubai
      br
      p(style='color: aliceblue;') &copy; 2023 Keetz holidays. All rights reserved.
